@tailwind base;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Poppins-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Poppins-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Poppins-BoldItalic.ttf') format('ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Poppins-BoldItalic.ttf') format('ttf');
}

/* main search box  */
.ais-SearchBox-input {
  @apply flex-1 justify-center items-center w-full max-w-7xl rounded-full border border-gray-300 p-3 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-gray-400 ;
}
.ais-SearchBox-submitIcon{
  @apply hidden
}
.ais-SearchBox-form{
  @apply  flex items-center justify-center
}
.ais-SearchBox-resetIcon{
  @apply hidden
}

/* Filters */
.select__control {
  @apply w-full lg:w-72 border-gray-50;
}
.select__control:focus-within {
  @apply border-gray-400; /* Border color on focus */
}

/* Pagination Container */
.ais-Pagination-list {
  @apply flex flex-wrap justify-center bg-white  p-2;
}

/* Pagination Links */
.ais-Pagination-link {
  @apply text-base sm:text-base md:text-xl px-2 lg:px-4 py-1 rounded-lg;
}

/* Remove the single quotes around the navigation arrows */
.ais-Pagination-link--next::before,
.ais-Pagination-link--previous::before {
  content: '';
}

/* Style the active pagination button */
.ais-Pagination-item--selected .ais-Pagination-link {
  @apply text-white bg-black; /* Change these colors as per your design */
}

/* Additional hover and focus styles */
.ais-Pagination-link:hover {
  @apply text-white bg-gray-800;
}

.ais-Pagination-link:focus {
  @apply outline-none ring-2 ring-gray-500;
}

