@tailwind base;

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Poppins-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  src: url('../fonts/Poppins-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Poppins-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-display: swap;
  font-style: italic;
  src: url('../fonts/Poppins-BoldItalic.woff2') format('woff2');
}

